<h1>Signup for alpha blog</h1>

<% if @user.errors.any? %>
    <h2>The following errors prevented the user from being created!</h2>
    <ul>
    <% @user.errors.full_messages.each do |mesg| %>
        <li><%=mesg%></li>
    <% end %>
    </ul>
<% end %>

<%= form_with scope: :user, url: user_path, method: :patch, local: true do |f| %>

    <p>
        <%= f.label :username %><br/>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.label :email %><br/>
        <%= f.email_field :email %>
    </p>
    
    <p>
        <%= f.label :password %><br/>
        <%= f.password_field :password %>
    </p>

    <p>
        <%= f.submit "Update your account" %>
    </p>

<% end %>